<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>

    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <script>
      // functionality for x buttons on messages
      // https://semantic-ui.com/collections/message.html
      window.addEventListener("load", () => {
        $(".message .close").on("click", function () {
          $(this).closest(".message").transition("fade");
        });
      });
    </script>

    <script defer>
      // remove err and succ query parameters
      // https://stackoverflow.com/a/43440356
      let params = new URLSearchParams(location.search);
      params.delete("err");
      params.delete("succ");
      history.replaceState(null, "", "?" + params + location.hash);
    </script>
  </head>

  <body>
    <div style="margin-top: 50px" class="ui container">
      <h1 class="ui center aligned header">To Do App</h1>

      {% if err %}
      <div class="ui negative message">
        <i class="close icon"></i>
        <div class="header">An error occured</div>
        <p>{{ err }}</p>
      </div>
      {% endif %} {% if succ %}
      <div class="ui positive message">
        <i class="close icon"></i>
        <div class="header">Success</div>
        <p>{{ succ }}</p>
      </div>
      {% endif %}

      <form class="ui form" action="/add" method="post">
        <div class="field">
          <label>Todo Title</label>
          <input type="text" name="title" placeholder="Enter Todo..." /><br />
        </div>
        <button class="ui blue button" type="submit">Add</button>
      </form>

      <hr />

      {% for todo in todo_list %}
      <div class="ui segment">
        <p class="ui big header">{{ todo.title }}</p>

        <span class="ui tiny">
          <details>
            Created at: {{ todo.creation_date.strftime('%Y-%m-%d %H:%M') }} |
            ID: {{ todo.id }}
          </details>
        </span>

        {% if todo.complete == False %}
        <span class="ui gray label">Not Complete</span>
        {% else %}
        <span class="ui green label">Completed</span>
        {% endif %}

        <a class="ui blue button" href="/update/{{ todo.id }}">Update</a>

        <div
          class="ui red button"
          onclick="$('#delete-modal-{{ todo.id }}').modal('show')"
        >Delete</div>
        <div class="ui mini basic modal" id="delete-modal-{{ todo.id }}">
          <i class="close icon"></i>
          <div class="header">Really delete {{ todo.title }}?</div>
          <div class="actions">
            <div class="ui black cancel button">No</div>
            <a class="ui red ok button" href="/delete/{{ todo.id }}">Yes</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
